@tailwind base;
@tailwind components;
@tailwind utilities;

/* header */

header{
    background-color: #D1DCD1;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;

}

.nav{
    display: flex;
    justify-content: center;
}

.header_logo{
    width: 200px;
}